@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // -webkit-font-smoothing: antialiased;

  font-family: "Lexend Deca";
}
body{
  background:$secondary;
}
p{
  color: $text;
}

header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color:white;
  padding: 0 30px;
  justify-content: space-between;

  .logo {
    font-weight: 600;
    color: $main;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
      width: 70px;
    }
    h1 {
      font-size: 30px;
      font-weight:400;
      color: $red;
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    .language {
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      display: grid;
      place-content: center;
      &:hover {
        color: white;
        background: $main;
      }
      border: 3px solid $main;
      border-radius: 50%;
    }
    li {
      text-decoration: none;
      color: $main;
      font-size: 18px;
      font-weight: 400;
      transition: color 0.2s;
      font-weight: 600;
      font-size: 16px;
      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
        gap: 8px;
        cursor: pointer;
        &:hover {
          span {
            &:nth-child(2) {
              width: 40px;
            }
          }
        }
      }
      span {
        width: 40px;
        height: 4px;
        background: $main;
        display: block;
        border-radius: 30px;
        transition: all 0.2s ease 0s;
        &:nth-child(2) {
          width: 20px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: white;
  padding: 40px 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    .column {
      p {
        margin: 15px 0;
      }
      .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        a {
          all: unset;
          cursor: pointer;
          transition: color 0.2s;
          &:hover {
            color: $main;
          }
        }
      }
      h3 {
        color: $red;
        font-weight: 600;
        font-size: 20px;
      }

      ul {
        list-style: none;
        li {
          margin: 15px 0;
          color: $main;
          font-size: 16px;
          transition: all 0.2s ease 0s;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 16px;
      font-weight: 200;
      color: $subtext;
    }
  }
}
.menuOverlay {
  background: $main;
  width: 100%;
  height: 100vh;
  position: fixed;

  top: -100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  .closeMenu {
    position: absolute;
    z-index: 6;
    top: 50px;
    right: 150px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease 0s;
    &:hover {
      .top {
        transform: rotate(135deg);
      }
      .bottom {
        transform: rotate(225deg);
      }
    }
    .line {
      width: 75px;
      height: 2px;
      background-color: #fff;
      transition: all 0.3s ease;
      position: absolute;
      top: 25px;
    }
    .top {
      transform: rotate(45deg);
    }
    .bottom {
      transform: rotate(-45deg);
    }
  }
  .overlay {
    cursor: pointer;
    width: 500px;
    overflow: hidden;
    width: 500px;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 78px;
      font-weight: 600;
      text-decoration: none;
      position: absolute;

      left: 50%;

      transform: translateX(-50%);
      transition: all 0.2s ease 0s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  color: $main;
  font-size: 25px;
  background: $secondary;
  span {
    color: $red;
  }
  .container {
    padding-top: 35px;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/heroImage.svg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 80%;
    img {
      max-width: 80%;
    }
  }
}

.search {
  width: 100%;
  height: 130px;
  background: $main;
  display: grid;
  place-content: center;
  .container {
    width: 100%;
    display: grid;
    place-content: center;
    form {
      display: flex;
      .bloc {
        padding: 0 6px;
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        gap: 20px;
        transition: opacity 0.2s ease 0s;
        label {
          color: $main;
          width: 50%;
          display: flex;
          justify-content: center;
        }
        input {
          border: none;
          outline: none;
          width: 50%;
          display: flex;
          justify-content: center;
          //change placeholder color
        }
        button{
          all:unset;
          display:grid;
          place-content: center;
          color:white;

        }
        &:not(:first-child) {
          border-left: 1px solid $subtext;
        }
        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          cursor:pointer;
          border-radius: 0 10px 10px 0;
          background: $red;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.process{
  padding-top: 15px;
  background: $secondary;
  position: relative;
  height: 150vh;
  .stickyContainer{
    position: sticky;
    top:20px;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  h2{
    color: $red;
  }
  p{
    width:40%;
    text-align: justify;
    text-align-last: center;
  }
  .container{
    background-image: url('../images/OBJECTS.svg');
    background-repeat: no-repeat;
    background-position: center;
    width:90%;
    height:70vh;
    position: relative;
    
    .process-bloc{
      width:400px;
      background: white;
      border-radius: 10px;
      padding:8px 20px;
      position:relative;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
      h3{
        color: $text;
      }
      .badge{
        display:grid;
        place-content: center;
        width:40px;
        height:40px;
        border-radius: 50%;
        background: $red;
        color: white;
        font-size: 20px;
        position:absolute;
        top:-20px;
        left:-20px;
      }
      p{
        margin: 5px 0;
        width: 100%;
        text-align:justify;
        text-align-last:unset;
      }
    }
    .step-1{
      top:150px;
      left:150px;
    }
    .step-2{
      top: 270px;
      left:230px;
    }
    .step-3{
      top:350px;
      left: calc(90% - 50%);
    }
    .step-4{
      top:50px;
      left:1100px;
    }
    .step-5{
      top: -350px;
      left:950px;
    }
  }
}

.newsletter {
  width: 100%;
  height: 130px;
  background: $main;
  display: grid;
  place-content: center;
  .container {
    width: 80vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    h2{
      font-weight:300;
      width:30%;
      font-size: 20px;
      color:white;
    }
    form{
      display:flex;
      width:70%;
      height:80px;
      .bloc{
        width:70%;
        background:white;
        border-radius: 10px 0 0 10px;
        padding: 0 16px;
        display:flex;
        align-items: center;
        input{
          border:none;
          outline:none;
          width:100%;
          padding: 10px 0;
        }
      }
      button{
        all:unset;
        width:30%;
        background:$red;
        color:white;
        border-radius: 0 10px 10px 0;
        display:grid;
        place-content: center;
        cursor:pointer;
        transition: opacity 0.2s ease 0s;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.recommendation{
  padding: 50px 0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $secondary;
  gap: 20px;
  h2{
    color: $red;
  }
  p{
    width:40%;
    text-align: justify;
    text-align-last: center;
  }
  .container{
    width:70%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top:50px;
    .card{
      width: 215px;
      height:340px;
      background:white;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      padding: 6px;
      .content{
        display:flex;
        flex-direction: column;
        height:100%;
        justify-content: space-between;
        .image{
          width:100%;
          img{
            width:100%;
            object-fit: cover;
            height: 175px;
            border-radius: 10px;
          }
        }
        .text{
          h4{
            color: $main;
          }
          .line{
            display:flex;
            align-items: center;
            justify-content: space-between;
          }
          .description{
            color: $text;
            font-size: 12px;
            margin-top: 10px;
          }
        }
        .button{
          width:100%;
          display: grid;
          place-content: center;
          background:$red;
          height:45px;
          border-radius: 10px;
          color: white;
          
        }
      }
    }
  }
}

.theme{
  padding: 100px 0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $secondary;
  gap: 20px;
  h2{
    color: $red;
  }
  p{
    width:40%;
    text-align: justify;
    text-align-last: center;
  }
  .container{
    margin-top:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    .card{
      width:250px;
      height:220px;
      background:white;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 33px 0px #00000020;
      gap:20px;
      border-radius:10px;
      .description{
        font-size:12px;
        font-weight: 900;
        color: $main;
      }
    }
  }
}

.band{
  width:100%;
  background: $red;
  height:200px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2{
    color:white;
  }
  .container{
    display:flex;
    align-items: center;
    gap: 50px;
    .bloc{
      width:280px;
      display:flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 6px;
      background:white;
      border-radius: 6px;
    }
  }
  .see-more{
    display:flex;
    width:110px;
    padding: 7px 4px;
    align-items: center;
    background : $main;
    justify-content: space-around;
    align-self: flex-end;
    margin-right:250px;
    border-radius: 4px;
    cursor:pointer;
    p{
      color: white;
    }

    transition: all 0.2s ease 0s;
    &:hover{
      background: white;
      p{
        color: $main;
      }
      svg{
        filter: invert(44%) sepia(82%) saturate(1005%) hue-rotate(201deg) brightness(108%) contrast(101%);      }
    }
  }
}

.promess{
  margin-top:150px;
  width:100%;
  .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    .bloc{
      width:70%;
      display:flex;
      align-items: center;
      justify-content: space-between;
      height:400px;
      background: white;
      border-radius: 10px;
      box-shadow: 0px 4px 33px 0px #00000020;
      .col{
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        h3{
          color: $main;
          font-size:24px;
        }
        p{
          width:60%;
          text-align: justify;
          text-align-last: center;
        }
      }
    }
  }

}


.join-us{
  margin-top:150px;
  width:100%;
  background: $red;
  height:200px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2{
    color:white;
  }
  .container{
    display:flex;
    align-items: center;
    gap: 80px;
    .button{
      display:grid;
      place-content: center;
      width:200px;
      border-radius:10px;
      padding: 22px 0;
      background: white;
      transition: all 0.2s ease-in-out;
      cursor:pointer;
      p{
        color: $main;
      }
      &:hover{
        background: $main;
        p{
          color: white;
        }
      }
      &:nth-child(2){
        background: $main;
        p{
          color: white;
        }
        &:hover{
          background: white;
          p{
            color: $main;
          }
        }
      }
    }
  }
}

.reviews{
  height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  .container{
    display:flex;
    align-items: center;
    width:80%;
    justify-content: space-between;
    .col{
      width:20%;
      display:grid;
      place-content: center;
    }
    .middle{
      width:60%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      p{
        width:60%;
        text-align: justify;
        text-align-last: center;
        margin-bottom: 30px;
      }
      h4{
        color: $main;
      }
      .rating{
        display:flex;
        gap: 2px;
      }
    }
  }
}

.button{
  cursor:pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    opacity: 0.8;
  }
}

@media screen and (max-width: 1200px) {
  .hero{
    .container{
      background-size:150%;
      padding: 0;
      width:100%;
      padding: 16px;
      font-size:22px;
      img{
        max-width: 100%;
      }
    }
  }

  .search{
    display:none;
    .container{
      form{
        .bloc{
          width:20%;
        }
      }
    }
  }

  .process{
    height:100vh;
    position:static;

    .stickyContainer{
      position:static;
      p{
        width:90%;
      }
      .container{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:static;
        margin-top:25vh;
        .process-bloc{
          all:unset;
          width:300px;
          background: white;
          border-radius: 10px;
          padding:8px 20px;
          margin-top: 50px;
        }
      }
    }
  }
  
  .newsletter{
    margin-top:400px;
    height: 180px;
    padding: 30px 0;
    .container{
      flex-direction: column;
      justify-content: center;
      gap:30px;
      h2{
        width: 90%;
        text-align: center;
      }
      form{
        width:100%;
      }
    }
  }
  .recommendation{
    p{
      width: 90%;
    }
    .container{
      width:100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .theme{
    p{
      width:90%;
    }
    .container{
      flex-direction: column;
      gap:5px;
    }
  }
  .band{
    height:400px;
    gap:50px;
    justify-content: center;

    .container{
      display:flex;
      flex-direction: column;
      justify-content: center;

    }
    .see-more{
      margin: 0 auto;
    }
  }

  .promess{
    .container{
      .bloc{
        width:90%;
        &:nth-child(1){
          .col{
            width:100%;
            p{
              width:90%;
            }
            &:nth-child(1){
              display:none;
            }
          }
        }
        &:nth-child(2){
          .col{
            width:100%;
            p{
              width:90%;
            }
            &:nth-child(2){
              display:none;
            }
          }
        }
        &:nth-child(3){
          .col{
            width:100%;
            p{
              width:90%;
            }
            &:nth-child(1){
              display:none;
            }
          }
        }
        &:nth-child(4){
          .col{
            width:100%;
            p{
              width:90%;
            }
            &:nth-child(2){
              display:none;
            }
          }
        }
        
      }
    }
  }

  .join-us{
    justify-content: center;
    height:300px;
    gap:40px;
    h2{
      text-align: center;
      width:90%;
    }
    .container{
      justify-content: center;
      gap:20px;
      .button{
        width:170px;
      }
    }
  }

  .reviews{
    .container{
      width:90%;
      .col{
        width:10%;
        svg{
          width:15px;
        }
      }
      .middle{
        width:80%;
        p{
          width:90%;
        }
      }
    }
  }

  footer{
    .container{
      flex-direction: column;
      gap: 20px;
     .column{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
     }
    }
  }
}